@import "tailwindcss";

:root {
    --primary-bg: #f0eeee;
    --primary-accent: #e67e22;
    --top-nav-height: 50pt;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Rubik;
}

.bg-img {
    display: block;
    width: 100%;
    height: calc(100vh - var(--top-nav-height));
    object-fit: cover;
}

.popup {
    background-color: var(--primary-bg);
}

.highlighted-button {
    @apply
     /* Cursor */
    cursor-pointer
    /* Text */
    font-bold text-center text-[14pt]
    /* Shape */
    rounded-lg border-0
    /* Colors */
    bg-orange-400 text-white
    /* Shadows */
    shadow-none
    hover:shadow-lg
    active:shadow-lg
    /* Transitions */
    transition-[filter,box-shadow]
    duration-100
    hover:brightness-105
    active:brightness-115;
}

.simple-form {
    @apply flex flex-col gap-2 text-justify
}

.simple-text-input {
    @apply
    /* Colors */
    bg-olive-50 border-olive-50 active:border-orange-500
    /* Shape */
    rounded-md border
    /* Padding */
    pl-2
    /* Transitions */
    transition-[border]
    duration-100;
}

.simple-form label {
    margin-top: 16px;
}